* {
    color:black;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(255, 0, 0);
}

.header,
.footer {
    background-color: rgb(255, 153, 0);
    height: 10vh;
}

.content {
    background-color: rgb(255, 0, 0);
    height: 80vh;
}
input{
    width: 250px;
    height: 100px;
}
button{
    width: 100px;
    height: 50px;
}