body{
    background-color: rgb(255, 28, 28);
} 
h1{
    font-size: 100px;
    color: rgb(255, 208, 0);
    font-family: fantasy;
}
p{
    color: rgb(255, 208, 0);
    font-family: fantasy;
    font-size: 20px;  
}
/* div{
    width: 700px;
}     */
.div-iframe{
    margin-left: 30px;
}
.div-img{
    margin-right: 30px;
}
.q{
    margin-bottom: 300px;

}
img{
    width: 400px;
    height: 300px; 
}
td{
    
    border: rgb(255, 238, 0) solid 10px; 
    background-color: rgba(0, 0, 0, 0.3);
}
div{
    display: inline-block;
}